[Desktop Entry]
Name=Thorium
GenericName=eBook reader
Exec=/opt/Thorium/thorium %U
Terminal=false
Type=Application
Icon=thorium
StartupWMClass=Thorium
MimeType={{ thorium_mimetypes | join(';') }}
Keywords=Audiobook;Book;Ebook;EPUB;Reader;Readium;Viewer;
Comment=Desktop application to read ebooks
Categories=Office;
Version=1.1
